/* Permet de faire tenir les padding & border dans les largeurs des boites */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* fais tenir les images dans leur parent et enlève l'espacement en bottom */
img{
    display: block;
    max-width: 100%;
}

/* enlève les bordures autour du body */
body{
    margin: 0;
}